*{
    padding: 0px;
    margin: 0PX;
}
.navber{
    background-color: #1C6280;
    /* background-color: #0b2c28; */
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items:  center;
    justify-content: space-between;
    }
    
    .logo{
    width: 60px;
    cursor: pointer;
    margin-left: 30px;
    }
    
    .navber ul li{
    margin-top: 10px;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    }
    
    .navber ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    }
    
    .navber ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
    }
    
    .navber ul li:hover::after{
    width: 100%;
    }
.previewall{
    display: flex;
    flex-direction: row;
}
.roomact{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 50%;
}
.typeroom{
    padding: 30px 50px 80px 50px;
    background-image: url(roombg.png);
    background-size: cover;
    
}


.pic-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:60px;
}
.detail {
    background-color: rgba(66, 133, 244, 0.6);
    text-align: center;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.activity {
    background-image: url(activitybg.png);
    height: 200%;
}
.act1group{
    display: flex;
    flex-direction: row;
    margin: 25px;
}
.nameact{
    width: 35%;
    padding: 20px;
    font-size: 26px; font-family: Be Vietnam Pro; font-weight: 400; line-height: 17px; letter-spacing: 1px; word-wrap: break-word;
    margin-right: 0px;
    margin-left: 105px;
}
.date {
    width: 65%;
    background-color: #fff;
    text-align: center;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 22px; 
}
.reviewbook{
    width: 45%;
    height: 100%;
    background-color: rgba(66, 133, 244, 0.6);
    
}
.h2left{
    color: rgba(0, 0, 0, 0.80); font-size: 23px; font-family: Abhaya Libre; font-weight: 400; line-height: 12px; word-wrap: break-word; text-decoration: underline;
}
.h2right{
    color: rgba(0, 0, 0, 0.80); font-size: 23px; font-family: Abhaya Libre; font-weight: 400; line-height: 12px; word-wrap: break-word;
}
.firstname{
    display: flex;
    flex-direction: row;
    padding-bottom: 45px;
    
}
.firstnameleft{
    padding-left: 130px;
    width: 35%;
    
}
.firstnameright{
    width: 65%;
}

.lastname{
    display: flex;
    flex-direction: row;
    padding-bottom: 45px;
    
}
.lastnameleft{
    padding-left: 130px;
    width: 35%;
}
.lastnameright{
    width: 65%;
}

.gendername{
    display: flex;
    flex-direction: row;
    padding-bottom: 45px;
    
}
.genderleft{
    padding-left: 130px;
    width: 28%;
    
}
.genderright{
    width: 72%;
}

.email{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    
}
.emailleft{
    padding-left: 130px;
    width: 35%;
    
}
.emailright{
    width: 75%;
}
.phone{
    display: flex;
    flex-direction: row;
    padding-bottom: 45px;
    
}
.phoneleft{
    padding-left: 130px;
    width: 40%;
    
}
.phoneright{
    width: 60%;
}
.check{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    
}
.checkname{
    width: 25%;
    padding: 20px;
    padding-left: 130px;
    padding-right: 0px;
    color: rgba(0, 0, 0, 0.80); font-size: 23px; font-family: Abhaya Libre; font-weight: 400; line-height: 12px; word-wrap: break-word;
}
.datecheck {
    width: 75%;
    background-color: #fff;
    text-align: center;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 22px
}
.guest{
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    padding-top: 20px;
}
.guestleft{
    padding-left: 130px;
    width: 30%;
    
}
.guestright{
    width: 70%;
}
.button{
    width: 350px; height: 50px;  
    margin-top: 70px;
    margin-left: 145px;
    background: #88bb08; border-radius: 5px; 
    justify-content: center; align-items: center; display: inline-flex;
    color: black; font-size: 22px; font-family: Montserrat; font-weight: 700; word-wrap: break-word;
}